*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
}

ul{
    list-style: none;
}

:root {
  --font-family: "ShareTechMono", sans-serif;
  --gray: #242424;
  --white:#f9f8f4;
}

.container{
    max-width: 1140px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}

.header {
    padding: 24px 0;
}

.header__nav {
    display: flex;
align-items: center;
    justify-content: space-between;
}

.logo {
    font-family: var(--font-family);
font-weight: 400;
font-size: 24px;
color: var(--gray);
}

.nav__list {
    display: flex;
    gap: 120px;
    text-align: center;
}

.nav__list-link {
    font-family: var(--font-family);
font-weight: 400;
font-size: 24px;
color: #242424;
position: relative;
display: inline-block;
color: #000;
text-decoration: none;
transition: color 0.3s;
}

.nav__list-link::after {
content: "";
position: absolute;
left: 0;
bottom: -5px;
width: 0;
height: 2px;
background: #242424;
transition: width 0.3s ease;
}

.nav__list-link:hover::after {
width: 100%;
}

.header__nav-icons {
    display: flex;
    gap: 62px;
}

.intro {
    display: flex;
    flex-direction: column;
    background: url(../images/header-img.jpg) no-repeat bottom/cover;
    height: 1000px;
        display: flex;
 flex-direction: column;
 justify-content: center;
 padding-left: 108px;
 gap: 50px;
}

.header__info-title {
    font-family: var(--font-family);
font-weight: 400;
font-size: 74px;
text-transform: uppercase;
color: #eee;
}

.header__info-text {
    font-family: var(--font-family);
font-weight: 400;
font-size: 24px;
color: #eee;
max-width: 984px;
width: 100%;
}

.header__info-btn {
    font-family: var(--font-family);
font-weight: 400;
font-size: 24px;
color: #eee;
 border: 2px solid #eee;
width: 264px;
height: 80px;
display: flex;
align-items: center;
justify-content: center;
}

.shop__title{
    font-family: var(--font-family);
font-weight: 400;
font-size: 40px;
text-transform: uppercase;
color: #242424;
position: relative;
display: inline-block;
padding-right: 22px;
}

.shop__title::after{
     content: '';
    width: 144px;
height: 2px;
background: #242424;
position: absolute;
top: 50%;
left: 100%;
transform: translateY(-50%);
}

.shop__text{
    font-family: var(--font-family);
font-weight: 400;
font-size: 24px;
color: #242424;
margin: 40px 0 20px 0;
}

.width__text{
width: 100%;
max-width: 694px;
}

.shop__description{
font-family: var(--font-family);
font-weight: 400;
font-size: 16px;
color: #6c6c6c;
}

.shop{
  margin-bottom: 140px;
  margin-top: 140px;
}

.info{
margin-top: 140px;
margin-bottom: 140px;
}

.shop__image{
    grid-row: 1 / span 2;
    width: 100%;
    display: block;
}

.shop__item-image{
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr;
        margin-top: 62px;
}

.one{
    background: url(../images/shopimageone.jpg) no-repeat bottom/cover;
    height: 400px;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
padding: 0 0 24px 24px;
gap: 20px;
position: relative;
}

.sale__box-item {
    width: 120px;
height: 60px;
background: var(--gray);
font-family: var(--font-family);
font-weight: 400;
font-size: 24px;
text-transform: uppercase;
color: var(--white);
display: flex;
justify-content: center;
align-items: center;
position: absolute;
left: 24px;
top: 24px;
}

.two{
    background: url(../images/shopimagesecond.jpg) no-repeat bottom/cover;
    height: 400px;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
padding: 0 0 24px 24px;
gap: 20px;
position: relative;
}

.three{
    background: url(../images/shopimagethird.jpg) no-repeat bottom/cover;
    grid-column: 2;
    grid-row: 1 / span 2;
    height: 824px;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
padding: 0 0 24px 24px;
gap: 20px;
position: relative;
}

.shop__items{
   display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr 1fr;
   gap: 24px;
   margin-top: 60px;
}

.shop__items-title {
    font-family: var(--font-family);
font-weight: 400;
font-size: 24px;
text-transform: uppercase;
color: var(--white);
}

.shop__items-text {
    font-family: var(--font-family);
font-weight: 400;
font-size: 16px;
text-transform: uppercase;
color: var(--white);
}

.footer {
    border: 1px solid black;
    padding: 160px;
}

.footer__list {
display: flex;
gap: 100px;
}

.footer__list-link {
    font-family: var(--font-family);
font-weight: 400;
font-size: 24px;
color: var(--gray);
position: relative;
display: inline-block;
color: #000;
text-decoration: none;
transition: color 0.3s;
}

.footer__list-link:hover::after {
width: 100%;
}

.footer__list-link::after {
content: "";
position: absolute;
left: 0;
bottom: -5px;
width: 0;
height: 2px;
background: #242424;
transition: width 0.3s ease;
}


.footer__items{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.social__media {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.footer__social_media-title {
    font-family: var(--font-family);
font-weight: 400;
font-size: 24px;
line-height: 90%;
color: var(--gray);
}

.footer__list-media {
    gap: 20px;
    display: flex;
}

.first__card{
    background: url(../images/firstcard.jpg) no-repeat bottom/cover;
    position: relative;
}

.second__card{
    background: url(../images/secondcard.jpg) no-repeat bottom/cover;
    position: relative;
}

.third__card{
    background: url(../images/thirdcard.jpg) no-repeat bottom/cover;
    position: relative;
}

.fourth__card{
    background: url(../images/fourthcard.jpg) no-repeat bottom/cover;
    position: relative;
}

.fifth__card{
    background: url(../images/fifthcard.jpg) no-repeat bottom/cover;
    position: relative;
}

.sixth__card{
    background: url(../images/sixth.jpg) no-repeat bottom/cover;
    position: relative;
}

.bestseller__card-icon {
    width: 50px;
height: 60px;
background: var(--white);
display: flex;
justify-content: center;
align-items: center;
position: absolute;
right: 24px;
top: 24px;
}

.bestseller__card-icon_first {
    width: 50px;
height: 60px;
background: var(--white);
display: flex;
justify-content: center;
align-items: center;
position: absolute;
right: 88px;
top: 24px;
}


.bestsellers__cards {
    display: grid;
    gap: 24px;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 60px;
}
.bestseller__card-item {
    height: 800px;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    gap: 30px;
    padding: 0px 0px 24px 24px;
}

.bestseller__btn {
max-width: 200px;
width: 100%;
background: var(--white);
padding: 26px;
display: flex;
justify-content: center;
font-family: var(--font-family);
font-weight: 400;
font-size: 24px;
color: var(--gray);
}



